=simple_form_for @product, :html => {:class => "form-horizontal"} do |f|
  
  =f.input :name, :required => true, :input_html => {:required => "required"}
  =f.input :price, :required => true, :input_html => {:required => "required"}
  =f.hidden_field :url, :required => true
  =f.input :file do
    =f.file_field :files, :id => "product_file", :accept => ".pdf,.mobi,.epub"
    %br/
    %br/
    #product-upload-progress.row-fluid
      .span4
        .progress.progress-success
          .bar
      .span4.text

  .form-actions
    =f.button :submit, :id => "new_product_submit", :class => "btn btn-primary"